# Collaborative Filtering Recommendation System

## Import Modules

In [2]:
import pandas as pd
import numpy as np
import sklearn
from sklearn.metrics.pairwise import cosine_similarity

## Import Dataset

In [54]:
df1 = pd.read_csv(filepath_or_buffer="./Movie_data.csv", names=["user_id", "username", "item_id", "rating", "timestamp"])
df1["timestamp"] = pd.to_datetime(df1["timestamp"], unit="s")

df2 = pd.read_csv(filepath_or_buffer="./Movie_Id_Titles.csv")

join_df = df1.join(df2.set_index("item_id"), on="item_id")
join_df = join_df.drop(columns="item_id")

join_df.head()

,user_id,username,rating,timestamp,title
0,0,Shawn Wilson,5,1997-12-04 15:55:49,Star Wars (1977)
1,0,Shawn Wilson,5,1997-12-04 15:55:49,"Empire Strikes Back, The (1980)"
2,0,Shawn Wilson,1,1997-12-04 15:55:49,Gone with the Wind (1939)
3,196,Bessie White,3,1997-12-04 15:55:49,Kolya (1996)
4,196,Bessie White,4,1997-12-04 16:11:03,Mrs. Doubtfire (1993)

## Explore Dataset

### Dimensions of the Dataset

In [63]:
rows, cols = join_df.shape
print(f"The shape of the dataset is: {rows} rows × {cols} columns")
print(f"The size of the dataset is: {join_df.size:,}")

The shape of the dataset is: 100003 rows × 5 columns
The size of the dataset is: 500,015

### Statistical Summary of the Dataset

In [ ]:
from IPython.display import display
# Statistical summary of join_df
print("Shape:", join_df.shape)
print("




























        print("Could not compute timestamp range:", e)    except Exception as e:        print(join_df['timestamp'].min(), 'to', join_df['timestamp'].max())        print("
Timestamp range:")    try:if 'timestamp' in join_df.columns:# Timestamp range if available    print("No 'rating' column found in join_df.")else:    print(join_df['rating'].value_counts().sort_index())if 'rating' in join_df.columns:print("
Rating distribution:")    print("Unique items (item_id):", join_df['item_id'].nunique())elif 'item_id' in join_df.columns:    print("Unique items (titles):", join_df['title'].nunique())if 'title' in join_df.columns:# item/title: prefer 'title' if present, otherwise fall back to item_id if available    print("Unique usernames:", join_df['username'].nunique())if 'username' in join_df.columns:print("Unique users:", join_df['user_id'].nunique())print("
Unique counts:")display(join_df.describe(include='all'))print("
Descriptive statistics (all columns):")display(join_df.describe())print("
Descriptive statistics (numeric):")print(join_df.isna().sum())print("
Missing values per column:")print(join_df.dtypes)Columns and dtypes:")